/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '@angular/material/theming';
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette);
$warn: mat.define-palette(mat.$red-palette);

// Define the theme configurations for light and dark modes
$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));


.theme-light {
  @include mat.all-component-themes($light-theme);
  @include mat.all-legacy-component-themes($light-theme);

  transition: background-color 0.1s ease;

  body {
    transition: background-color 0.1s ease;
  }
}

.theme-dark {
  color: #dedede;
  background-color: #333;
  transition: background-color 0.1s ease;

  body {
    background-color: #333333 !important;
    transition: background-color 0.1s ease;
    color: #dedede;
  }

  .bg-white {
    background-color: #333333 !important;
  }

  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(51, 51, 51, 0.05) !important;
  }

  .border-bottom {
    border-bottom: 1px solid #4c4c4c !important;
  }

  .table {
    border-color: #4c4c4c;
    color: #dedede;
  }

  .table > :not(:first-child) {
    border-top: 2px solid white;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #dedede !important;
  }

  .navbar-light .navbar-brand {
    color: rgba(255,255,255,.9)
  }

  .table-striped > tbody > tr:nth-of-type(2n+1) > * {
    color: #dedede !important;
  }

  .online {
    background-color: #3e5b4c !important;
  }

  .tooltip-custom .mdc-tooltip__surface {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #000000 !important;
  }

  .mat-toolbar {
    background-color: lighten(#333, 3%) !important;
  }

  footer {
    background-color: lighten(#333, 1%) !important;
  }

  @include mat.all-legacy-component-colors($dark-theme);

  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-densities($dark-theme);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app-fetch-data .mat-button.active {
  color: white;
}

.tooltip-custom .mdc-tooltip__surface {
  max-width: 600px !important;
  font-size: 0.6em !important;
}

.active-nav {
  background-color: var(--bs-indigo) !important;
  color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 0 9px 0;
    height: 16px;
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.custom-datepicker {
  //@include mat.form-field-density(-2);
  //@include mat.all-component-densities(minimum);
}
