.online {
  background-color: #d4edda; /* light green color */
}

.bot-identifier {
  right: -30px;


  .mat-badge-content {
    font-size: 10px;
    width: 35px !important;
  }
}

.toolbar-sort {
  display: flex;
  justify-content: right;
  font: 400 18px/18px Roboto, "Helvetica Neue", sans-serif;
  padding-left: 1em;
}

.toolbar-sort-left {
  width: 100%;
  display: flex;
  justify-content: left;
}

.toolbar-sort-right {
  display: flex;
  justify-content: right;
}

.theme-dark {
  .active-nav {
    background-color: var(--bs-indigo);
  }
}


.theme-light {
  .active-nav {
    color: white;
  }

  .mat-button.active {
    color: white;
  }
}

.mat-button.active {
  background-color: var(--bs-purple) !important;
}

mat-spinner {
  border-top: none !important;
}

.spinner-container {
  justify-content: center;
  display: flex;
}

